input, textarea {
  width: 85%;
  border: 2px solid rgba(23, 165, 18, 0.74);
  border-left: none;
  border-right: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 40px;
  text-align: center;
}

.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  display: inline-block;
  width: 25%;
  font-size: medium;
  font-weight: normal;
}

.btn-primary {
  color: rgba(73, 204, 249, 1.0);
  border-color: rgba(73, 204, 249, 1.0);
  background-color: transparent;
}

label {
  font-weight: bold;

}

.divider {
  margin-top: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
  opacity: 20%;
}
